<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
    
        <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title><%= algo %> Algorithm</title>
    </head>
    <% if (algo == "Blowfish") {%>
        <style type="text/css">
            body { 
                background-image: linear-gradient(#11998e, #38ef7d), url(back.jpg);
            }
            i,.btn-title  {
                color: #11998e;
            }
        </style>
    <% } else if (algo == "RSA") { %>
        <style type="text/css">
            body { 
                background-image: linear-gradient(#9CECFB, #0052D4), url(back.jpg);
            }
            i, .btn-title {
                color: #0052D4;
            }
        </style>
    <% } %>
    
    <body>
        <div class="wrapper clearfix">
                <% if (error.value == -1) { %>
                    <h1 class="center">Wrong input. Please input again!</h1>
                <% } %>
            <form class="<%= algo %>-form" action="/crypt<%= algo %>" method="POST">
            <div class="algo-0-panel active">
                        <div class="algo-name" id="name-0">Encription</div>
                            <div class="form-control">
                                <label for="">File encrypt</label>
                                <input 
                                    type="file" 
                                    name="fileEn" 
                                    id="fileEn"/>
                            </div>

                            <div class="form-control">
                                <label for="">File key for encrypt</label>
                                <input 
                                    type="file" 
                                    name="fileKeyEn" 
                                    id="fileKeyEn"/>
                            </div>

                            <div class="form-control">
                                <button type="submit" name="Encrypt" class="btn-en" id="Encrypt"><i class="ion-ios-cog"></i>Encrypt</button>
                            </div>

                        
                    </div>
                    
                    <div class="algo-1-panel">
                        <div class="algo-name" id="name-1">Decription</div>
                            <div class="form-control">
                                <label for="">Decrypted File</label>
                                <input 
                                    type="file" 
                                    name="fileDe" 
                                    id="fileDe" >
                            </div>

                            <div class="form-control">
                                <label for="">Key of File for decrypting</label>
                                <input 
                                    type="file" 
                                    name="fileKeyDe" 
                                    id="fileKeyDe" >
                            </div>

                            <div class="form-control">
                                <button type="submit" name="Decrypt" class="btn-de" id="Decrypt"><i class="ion-md-construct"></i>Decrypt</button>
                            </div>
                    
                    </div>
            </form>

            <button class="btn-title"><%= algo %> Algorithm</button>

            <form class="<%= otherAlgo.p0 %>-form" action="/crypt<%= otherAlgo.p0 %>" method="GET">
                <button class="btn-<%=otherAlgo.p0 %> btn-150"><i class="ion-md-arrow-round-back"></i><%= otherAlgo.p0%> </button>
            </form>

            <form class="<%= otherAlgo.p1 %>-form" action="/crypt<%= otherAlgo.p1 %>" method="GET">
                <button class="btn-<%= otherAlgo.p1 %> btn-850"><%= otherAlgo.p1 %>&nbsp;&nbsp;&nbsp;<i class="ion-md-arrow-round-forward"></i></button>
            </form>
            <!-- <input type="text" placeholder="Final" class="final-score"> -->
        </div>
    
        <script src="/js/main.js"></script>
    </body>
</html>